.main{
    background-color: #ffffff;
    margin: 0;
  padding: 0;
  border: 0;
}

.content{
    display: flex;
    justify-self: center;
}

.map-container {
    height: 400px;
    width: 800px;
}

.chart-container {
    width: 800px;
    height: 400px;
    border: 1px solid rgb(236, 234, 234);
}

.accelerometer-data-container {
    width: 800px;
    height: 400px;
}

.bouton-container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
}

.left-side{
    margin-right: 20px;
}

.title {
    font-size: 5rem;
    margin-bottom: 20px;
    text-align: center;
}

.sp1 {
    color: #007bff;
}

.sp2 {
    color: #fa7203;
}

.sp3 {
    color: #b6ca04;
}

.sp4 {
    color: #ff0000;
}

@media screen and (max-width: 800px) {
    .content {
        flex-direction: column;
    }

    .map-container {
        height: 300px;
        width: 100%;
    }

    .chart-container {
        height: 300px;
        width: 100%;
    }

    .accelerometer-data-container {
        height: 300px;
        width: 100%;
    }

    .bouton-container {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }

    .left-side{
        margin-right: 0px;
    }

    .title {
        font-size: 3rem;
        margin-bottom: 20px;
        text-align: center;
    }
    
}